<div class="footer-wrapper">
  <section class="links-and-contacts">
    <div class="footer-logo">
      <a href="/" class="logo-link">
        <img
          src="/icons/Longview_Logo_Transparent_black.png"
          class="footer-logo"
          alt="Longview Logo"
        />
      </a>
      <p>
        Developing infrastructure<br />
        to power America forward.
      </p>
    </div>
    <div class="vertical-line"></div>
    <div class="footer-links">
      <h2>LINKS</h2>
      <div class="links-container">
        <a href="/index.html">Home</a>
        <a href="/pages/solutions.html">Solutions</a>
        <a href="/pages/industry-news.html">News and Insights</a>
        <a href="/pages/careers.html">Careers</a>
        <a href="/pages/contact.html">Contact</a>
      </div>
    </div>
    <div class="vertical-line"></div>
    <div class="footer-contact">
      <h2>CONTACT</h2>
      <div class="links-container">
        <p>
          <a href="mailto:info@longviewinfra.com">info@longviewinfra.com</a>
        </p>
        <p>
          <a
            href="https://www.linkedin.com/company/longview-infrastructure/"
            target="_blank"
          >
            <i
              class="fab fa-linkedin"
              style="font-size: 20px; margin-right: 0px"
            ></i>
            LinkedIn
          </a>
        </p>
        <p>
          <a
            href="https://www.google.com/maps?q=16305+Swingley+Ridge+Road,+Suite+340,+Chesterfield,+Missouri+63017"
            target="_blank"
          >
            16305 Swingley Ridge Road<br />
            Suite 340<br />
            Chesterfield, Missouri<br />
            63017
          </a>
        </p>
      </div>
    </div>
  </section>

  <footer class="footer">
    <p>
      &copy; <span id="currentYear"></span> Longview Infrastructure. All rights
      reserved.
    </p>
  </footer>
</div>
