<header class="header">
  <a href="/" class="logo-link" aria-label="Back to homepage">
    <!-- <img
      src="/icons/Longview_Logo_Transparent_black.png"
      class="logo logo-black"
      alt="Longview Logo"
      width="300"
    /> -->
    <img
      src="/icons/Longview_Logo_Transparent_white.png"
      class="logo logo-white"
      alt="Longview Logo"
      width="300"
    />
    <img
      src="/icons/Longview_Logo_Transparent_colored.png"
      class="logo logo-colored"
      alt="Longview Logo"
      width="300"
    />
  </a>
  <button class="menu-toggle" aria-label="Toggle navigation">☰</button>
  <nav class="header-right">
    <button class="menu-close">✖</button>
    <a href="/" class="nav-link" aria-label="Home page" id="home-page-link"
      >HOME</a
    >
    <a
      href="/pages/solutions.html"
      class="nav-link"
      aria-label="Solutions page"
      id="solutions-link"
      >SOLUTIONS</a
    >
    <a
      href="/pages/industry-news.html"
      class="nav-link"
      aria-label="Industry page"
      id="industry-news-link"
      >NEWS AND INSIGHTS</a
    >
    <a
      href="/pages/careers.html"
      class="nav-link"
      aria-label="Careers page"
      id="careers-link"
      >CAREERS</a
    >
    <a
      href="/pages/contact.html"
      class="nav-link"
      aria-label="Contact page"
      id="contact-link"
      >CONTACT</a
    >
  </nav>
</header>
